@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
:root {
  font-family:
    Montserrat,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

html {
  /* scrollbar-gutter: stable; */
  overflow-x: hidden;
  overflow-y: scroll;
  /* background: url("./assets/colored_sky_pastel.jpg") no-repeat top center fixed; */
  background-size: cover;
}
body {
  margin: 0;
}
.sortable-item {
  transition: transform 800ms ease;
}
